/* General Reset */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #f8e8d2, #ffffff);
  color: #fff;
}

/* Hero Section */
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
  background-color: #121212; /* Dark background */
  width: 95%;
  height: 50%;
  margin: 2rem auto; /* Center horizontally */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3); /* Subtle shadow */
  color: #1f1717;
}

.hero-section .content {
  flex: 1;
  margin-right: 2rem;
}

.hero-section h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #25617c; /* Highlight color for title */
}

.hero-section p {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 2rem;
  line-height: 1.8;
  color: #262c03;
}

.hero-section .buttons {
  margin-top: 2rem;
}

.hero-section .buttons button {
  margin-right: 1rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease;
  color: #121212;
}

.hero-section .join-btn {
  background-color: #ffd700;
  color: #121212;
}

.hero-section .join-btn:hover {
  background-color: #ffcc00;
}

.hero-section .view-btn {
  background-color: #444;
  color: #fff;
}

.hero-section .view-btn:hover {
  background-color: #666;
}

.hero-section .image {
  flex: 1;
  
  max-width: 450px;
}

.hero-section .image img {
  width: 80%;
  
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

/* Footer Section */
.footer {
  background-color: #121212;
  padding: 2rem;
  color: #ddd;
  text-align: center;
}

.footer .footer-section {
  margin-bottom: 2rem;
}

.footer h3 {
  color: #ffd700;
}

.footer .subscribe input {
  padding: 0.8rem;
  border-radius: 25px;
  border: none;
  margin-right: 1rem;
  width: 70%;
}

.footer .subscribe button {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 25px;
  background-color: #ffd700;
  color: #121212;
  font-weight: bold;
  cursor: pointer;
}

.footer .footer-links {
  display: flex;
  justify-content: space-between;
}

.footer .footer-column {
  margin: 1rem;
}

.footer .footer-column h4 {
  margin-bottom: 1rem;
  color: #ffd700;
}

.footer .footer-column a {
  display: block;
  color: #ddd;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease;
}

.footer .footer-column a:hover {
  color: #fff;
}
.h1{
  color: #666;
  align-items: center;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  
}
