/* Navbar styles */
/* Mobile-only visibility */
@media (max-width: 768px) {
  /* .header_top_main { */
  .login.logo-text.mobile-navbar.navbar.navbar-buttons.navbar-links.navbar-logo.signup{
      display: none; /* Hide desktop navbar */
  }
  .mobile-navbar {
      display: flex;
  }
}
.navbar {
    position: sticky; /* Makes the navbar stick to the top */
    top: 0; /* Aligns it to the top of the viewport */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #2d242f; /* Dark background */
    border-radius: 10px; /* Rounded corners */
    margin: 0 10px;
    z-index: 1000; /* Ensure it stays above other content */
  }
  
  .navbar-logo {
    display: flex;
    width: 150px;
    height: auto;
    align-items: center;
    gap: 10px;
  }
  
  .logo-text {
    font-family: 'Oregano', sans-serif;
    font-size: 40px;
    color: #604461;
  }
  
  .navbar-links {
    display: flex;
    list-style: none;
    gap: 30px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #fff; /* White text */
    font-size: 18px;
    font-weight:400;
  }
  
  .navbar-buttons {
    display: flex;
    gap: 20px;
  }
  
  .signup, .login {
    padding: 8px 24px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
  }
  

  .signup {
    background-color: #4c2d4e;
    color: white;
    border: none;
  }
  
  .login {
    background-color: transparent;
    border: 1px solid #4c2d4e;
    color: #d090d4;
  }
  